<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 <a href="http://www.neurologopedia.com/" target="_blank">neurologopedia.com</a>. All rights reserved.</span>
    </span>
  </div>
</footer>