<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-items">
      <!-- vacio para que se muestre más abajo-->
    </li>
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">Jose Lopez</p>
          <p class="designation">Usuario</p>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">Activitats</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" href="#activitat1" aria-expanded="false" aria-controls="general-pages">
        <i class="menu-icon typcn typcn-upload-outline"></i>
        <span class="menu-title">Activitat 1</span>
        <i class="ti-check "></i>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="activitat1" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="activitat1-1.html"> Nivel 1 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat1-2.html"> Nivel 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat1-3.html"> Nivel 3 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat1-4.html"> Nivel 4 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat1-5.html"> Nivel 5 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat1-6.html"> Nivel 6 </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" href="#activitat2" aria-expanded="false" aria-controls="general-pages">
        <i class="menu-icon typcn typcn-upload-outline"></i>
        <span class="menu-title">Activitat 2</span>
        <i class="ti-check "></i>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="activitat2" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="activitat2-1.html"> Nivel 1 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat2-2.html"> Nivel 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat2-3.html"> Nivel 3 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat2-4.html"> Nivel 4 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat2-5.html"> Nivel 5 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat2-6.html"> Nivel 6 </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" href="#activitat3" aria-expanded="false" aria-controls="general-pages">
        <i class="menu-icon typcn typcn-upload-outline"></i>
        <span class="menu-title">Activitat 3</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="activitat3" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="activitat3-1.html"> Nivel 1 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat3-2.html"> Nivel 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat3-3.html"> Nivel 3 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat3-4.html"> Nivel 4 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat3-5.html"> Nivel 5 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat3-6.html"> Nivel 6 </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" href="#activitat4" aria-expanded="false" aria-controls="general-pages">
        <i class="menu-icon typcn typcn-upload-outline"></i>
        <span class="menu-title">Activitat 4</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="activitat4" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="activitat4-1.html"> Nivel 1 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat4-2.html"> Nivel 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat4-3.html"> Nivel 3 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat4-4.html"> Nivel 4 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat4-5.html"> Nivel 5 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat4-6.html"> Nivel 6 </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" href="#activitat5" aria-expanded="false" aria-controls="general-pages">
        <i class="menu-icon typcn typcn-upload-outline"></i>
        <span class="menu-title">Activitat 5</span>
        <i class="ti-check "></i>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="activitat5" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="activitat5-1.html"> Nivel 1 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat5-2.html"> Nivel 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat5-3.html"> Nivel 3 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat5-4.html"> Nivel 4 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat5-5.html"> Nivel 5 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat5-6.html"> Nivel 6 </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" href="#activitat6" aria-expanded="false" aria-controls="general-pages">
        <i class="menu-icon typcn typcn-upload-outline"></i>
        <span class="menu-title">Activitat 6</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="activitat6" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="activitat6-1.html"> Nivel 1 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat6-2.html"> Nivel 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat6-3.html"> Nivel 3 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat6-4.html"> Nivel 4 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat6-5.html"> Nivel 5 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activitat6-6.html"> Nivel 6 </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Progreso</li>
    <li class="nav-item">
      <a class="nav-link" href="progres.html">
        <span class="menu-title">Ver progreso</span>
      </a>
    </li>
    <li class="nav-item nav-profile">
      <!-- vacio para que se muestre más abajo-->
    </li>
    <li class="nav-item nav-profile">
      <!-- vacio para que se muestre más abajo-->
    </li>
    <li class="nav-item nav-profile">
      <!-- vacio para que se muestre más abajo-->
    </li>
  </ul>
</nav>